research/.ipynb_checkpoints/
research/samples/*.mp3
research/samples/*.wav
.idea/
research/*.wav
search_best/source/*.mp3
search_best/source/*.wav
search_best/source/tmp/
*.ipynb
source/*.mp3
source/*.wav
source/tmp/*.mp3
source/tmp/*.wav
source/RazyebassGrave/
*/__pycache__/
ThreeInRow/images/*.png
ThreeInRow/output.txt
ThreeInRow/tmp_vid/*.png
ThreeInRow/*.mp3
ThreeInRow/*.wav
ThreeInRow/*.mp4
